ion-content {

    & ion-card-title {
        border-bottom: 1px solid #c2c2c2;
        margin: 15px 6px 0;
        padding: 0 9px 10px;

        & h5 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }

    & ion-card-content {
        padding: 10px 15px 15px;
        font-size: 12px;

        & .checkout-user-details    {

            & ion-input {
                --background: #f4f4f4;
                margin: 5px 0;
                border-radius: 5px;
            }
        }
    }
}