ion-list{
    display: flex;
    flex-direction: row;
    padding: 0;

    ion-item{
        .cus-categorr-single-wrap{
            h6{
                font-size: 10px;
                margin: 0;
                text-align: center;
            }
            
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
