<ion-row>
  <ion-col>
    <ion-list>
      <ion-item lines="none" class="ion-no-padding">
        <div class="cus-categorr-single-wrap">
            <img src="../../../assets/cat-img-1.png" alt="">
            <h6>All</h6>
        </div>
    </ion-item>
      <ion-item lines="none" class="ion-no-padding">
          <div class="cus-categorr-single-wrap">
              <img src="../../../assets/cat-img-1.png" alt="">
              <h6>Lunch</h6>
          </div>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <div class="cus-categorr-single-wrap">
            <img src="../../../assets/cat-img-2.png" alt="">
            <h6>Dinner</h6>
        </div>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <div class="cus-categorr-single-wrap">
            <img src="../../../assets/cat-img-3.png" alt="">
            <h6>Fast Food</h6>
        </div>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <div class="cus-categorr-single-wrap">
            <img src="../../../assets/cat-img-4.png" alt="">
            <h6>Dessert</h6>
        </div>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>

