<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">Sign Up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    
    <img src="../../assets/dish-yellow.png" alt="Dish icon">
    <h2>Good Foods</h2>
    <p>Get delivered at home.</p>
  </div>

  <form id="form" [formGroup]="loginForm">
    <app-input type="email" placeholder="Email" formControlName="loginEmail"></app-input>
    <app-input type="password" placeholder="Password" formControlName="loginPassword"></app-input>
    
    <ion-button expand="block"> Login</ion-button>
  </form>

</ion-content>
