ion-item    {
    --highlight-background: unset;
    
   
    ion-label{
        padding-bottom: 10px;
    }
    ion-input   {
        font-size: 18px;
--padding-top: 5px;
--padding-bottom: 5px;
--padding-start: 5px;
border-radius: 5px;
--background: #eeeeee;
    box-shadow: 1px 8px 8px 0px rgba( 0 0 0/0.08);
    }

    a   {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
    
    ion-button {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        border-radius: 8px !important;
        height: 35px;
      
      }
}
ion-text a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: block;
  }
#header { 
    text-align: center;
    img {
    width: 80px;
    margin-top: 16px;
  }
  h2 {
    margin-top: 7px;
    font-size: 24px;
    margin-bottom: 7px;
  }
}