ion-content    {
    --background: #fdcb00;
    @keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-100px)}}
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
        img {
            width: 60%;
            animation:slide-top 1s cubic-bezier(.25,.46,.45,.94) both;
                margin-top: 160px;
        }
    }
}