ion-content{
    ion-list{

        &.cart-card{
            display: flex;
            align-items: center;
            .cart-card-item{
                flex: 1 1 33.33%;
            }
            .cart-product-name-value{
                display: flex;
                justify-content: center;
            }
            .cart-product-total-vale-single{
                display: flex;
                justify-content: end;
            }
            .cart-product-img{
                img{
                    width: 50px;
                height: 50px;
                object-fit: cover;
                }
                
            } 
        }
               
        
        
    }
}
