<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/product-inner']">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-text><h5>Cart</h5></ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <div class="custom-cart-wrap">
        <ion-list class="cart-card">
            <div class="cart-product-img cart-card-item">
              <img src="../../assets/cat-img-1.png" alt="product-1">
            </div>
            <div class="cart-product-name-value cart-card-item">
              <ion-buttons class="product-count">
                <ion-button class="product-count-reduce" (click)="decrement()" [disabled]="currentNumber === 0">
                  <ion-icon name="remove" ></ion-icon>
                </ion-button>
                <span class="product-count-number">{{currentNumber}}</span>
                <ion-button class="product-count-add" (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>             
            <div class="cart-product-total-vale-single cart-card-item">
              <span>${{productUpdatePrice}}</span>
            </div>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
