ion-content{
    ion-list{

        &.cart-card{
            display: flex;
            align-items: center;
            .cart-card-item{
                flex: 1 1 33.33%;
            }
            .cart-product-name-value{
                display: flex;
                justify-content: center;
                .product-count-number{
                    margin: 0 10px;
                }
                ion-buttons{
                    ion-button{
                        background-color: var(--ion-color-primary);
                        border-radius: 50%;
                        height: 28px;
                        width: 28px;
                        &::part(native){
                            border-radius: 50%;
                        }
                        ion-icon{
                            font-size: 60px;
                        }
                        
                    }
                }
            }
            .cart-product-total-vale-single{
                display: flex;
                justify-content: end;
            }
            .cart-product-img{
                img{
                    width: 52px;
                height: 55px;
                object-fit: cover;
                }
                
            } 

        }
               
        
        
    }
}
