<ion-content>
  <ion-slides pager="true" [options] = "slideOpts">
    <ion-slide>
      <div class="custom-slide-wrap">
        <div class="slide-img">
          <img src="../../assets/slide-1-img.png" alt="">          
        </div>
        <div class="slide-content">
          <h3>Reserve Your Seats</h3>
          <h6>Want to book seats? let's do it</h6>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="custom-slide-wrap">
        <div class="slide-img">
          <img src="../../assets/slide-2-img.png" alt="">
        </div>
        <div class="slide-content">
          <h3>Get Fresh Food</h3>
          <h6>Say good bye to premade or packed foods</h6>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="custom-slide-wrap">
        <div class="slide-img">
          <img src="../../assets/slide-3-img.png" alt="">
        </div>
        <div class="slide-content">
          <h3>Track Your Orders</h3>
          <h6>Keep ey on your order</h6>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-button href="home">
        Log In
    </ion-button>
    <ion-button>
      Register
  </ion-button>
  </ion-grid>
</ion-content>
