ion-toolbar {
    // --background: url('../../assets/chicken.jpg');
    // padding-bottom: 350px;
}

ion-content {
    .product-inner-text {
        padding: 0 10px;
        margin-top: 15px;
        ion-title  {
            padding: 0 ;
    
            h2  {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
                text-transform: capitalize;
            }
        }
        p {
          font-size: 15px;
          color: #6d6d6d;
          margin: 7px 0;
        }
      }
      .product-additionals {

          h4 {
            font-size: 18px;
            padding: 0 10px;
            font-weight: 500;
            text-transform: capitalize;
          }
      }
      .product-count-row    {
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 20px;
        .product-count {
          justify-content: space-between;
          background-color: #eaeaea;
        }
      }
}