<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="no-scroll">

  <!-- HOME_OFFER_BANNER -->

  <section class="offer-banners-wrap">
    <app-offer-poster></app-offer-poster>
  </section>

  <!-- HOME_CATEGORIES -->

  <section class="cus-categories">
    <ion-row>
      <ion-col>
        <h4>Categories</h4>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="none" class="ion-no-padding" (click)="categoryClick(1)">
              <div class="cus-categorr-single-wrap">
                <img src="../../../assets/cat-img-1.png" alt="">
                <h6>All</h6>
              </div>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding" (click)="categoryClick(item.id)" *ngFor="let item of cats;let i=index">
              <div class="cus-categorr-single-wrap" *ngIf="item.name != 'Uncategorized'">
                <img src="../../../assets/cat-img-1.png" alt="">
                <h6>{{item.name}}</h6>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>
      <ion-row>
        <div class="custom-categories-content">
          <ion-list *ngIf="showCategory == 1" lines="none" class="ion-no-padding">
            <ion-card *ngFor="let item of products">
              <img src="{{item.images[0].src}}" alt="ion" [routerLink]="['/product-inner']">
              <ion-card-header [routerLink]="['/product-inner']">
                <ion-card-title>{{item.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <h5>RS {{item.price}}</h5>
                  <ion-button [routerLink]="['/cart']">+</ion-button>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-list>
          <ion-list *ngIf="showCategory == 2" lines="none" class="ion-no-padding">
            <ion-card *ngFor="let item of productsBycat">
              <img src="{{item.images[0].src}}" alt="ion" [routerLink]="['/product-inner']">
              <ion-card-header [routerLink]="['/product-inner']">
                <ion-card-title>{{item.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <h5>RS {{item.price}}</h5>
                  <ion-button [routerLink]="['/cart']">+</ion-button>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-list>
          
        </div>
      </ion-row>
      
    

  </section>
  
</ion-content>
<app-tabs></app-tabs>