
ion-content{
  .offer-banners-wrap{
    margin-top: 14px;
  }
  .cus-categories{
    ion-col{
      h4{
        margin: 0;
        
      }
    }
  }
}

ion-list{
  display: flex;
  flex-direction: row;
  padding: 0;

  ion-item{
    
      .cus-categorr-single-wrap{
          h6{
              font-size: 12px;
              margin: 0;
              text-align: center;
          }
          
          img{
              width: 100%;
              border-radius: 50%;
          }
      }
  }
 
}

.custom-categories-content  {
  margin-bottom: 50px;
  ion-list  {
      flex-wrap: wrap;
      app-product-card{
        flex: 1 1 50%;
      }
    }
  
}
// ion-content {
//   width: calc(100% + 1px);
// }
// ion-content::part(scroll) {
//   padding-right: 0px;
// }

