@import url(../../app/components/categories/categories.component.scss);
ion-content{
  .offer-banners-wrap{
    margin-top: 14px;
  }
  .cus-categories{
    ion-col{
      h4{
        margin: 0;
        
      }
    }
  }
}

ion-list{
  display: flex;
  flex-direction: row;
  padding: 0;

  ion-item{
      .cus-categorr-single-wrap{
          h6{
              font-size: 10px;
              margin: 0;
              text-align: center;
          }
          
          img{
              width: 100%;
              border-radius: 50%;
          }
      }
  }
}
