<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HOME_OFFER_BANNER -->

    <section class="offer-banners-wrap">
      <app-offer-poster></app-offer-poster>
    </section>

  <!-- HOME_CATEGORIES -->  

    <section class="cus-categories">
      <ion-row>
        <ion-col>
          <h4>Categories</h4>
        </ion-col>        
        
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item lines="none" class="ion-no-padding" (click)="onAllClick()" >
                <div class="cus-categorr-single-wrap">
                    <img src="../../../assets/cat-img-1.png" alt="">
                    <h6>All</h6>
                </div>
            </ion-item>
              <ion-item lines="none" class="ion-no-padding" (click)="onLunchClick()">
                  <div class="cus-categorr-single-wrap">
                      <img src="../../../assets/cat-img-1.png" alt="">
                      <h6>Lunch</h6>
                  </div>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" (click)="onDinnerClick()">
                <div class="cus-categorr-single-wrap">
                    <img src="../../../assets/cat-img-2.png" alt="">
                    <h6>Dinner</h6>
                </div>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" (click)="onFastFoodClick()">
                <div class="cus-categorr-single-wrap">
                    <img src="../../../assets/cat-img-3.png" alt="">
                    <h6>Fast Food</h6>
                </div>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" (click)="onDessertClick()">
                <div class="cus-categorr-single-wrap">
                    <img src="../../../assets/cat-img-4.png" alt="">
                    <h6>Dessert</h6>
                </div>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <div class="custom-categories-content">
          <ion-item *ngIf="allClicked">
            <p>All</p>
          </ion-item>
          <ion-item *ngIf="lunchClicked">
            <p>Lunch</p>
          </ion-item>
          <ion-item *ngIf="dinnerClicked">
            <p>Dinner</p>
          </ion-item>
          <ion-item *ngIf="fastFoodClicked">
            <p>Fast Food</p>
          </ion-item>
          <ion-item *ngIf="dessertClicked">
            <p>Dessert</p>
          </ion-item>
        </div>
      </ion-row>
      
    </section>  
</ion-content>
